{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "AngelOwl EKS APIGW REST",
    "version" : "2023-03-23T15:34:45Z"
  },
  "servers" : [ {
    "url" : "https://itsag1t2.com"
  } ],
  "paths" : {
    "/campaign/{campaign_id}" : {
      "get" : {
        "parameters" : [ {
          "name" : "campaign_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/campaign/{campaign_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "requestParameters" : {
            "integration.request.path.campaign_id" : "method.request.path.campaign_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "put" : {
        "parameters" : [ {
          "name" : "campaign_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Campaign"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/campaign/{campaign_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "PUT",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "requestParameters" : {
            "integration.request.path.campaign_id" : "method.request.path.campaign_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "campaign_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/campaign/{campaign_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "DELETE",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "requestParameters" : {
            "integration.request.path.campaign_id" : "method.request.path.campaign_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "campaign_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/exclusion/{exclusion_id}" : {
      "get" : {
        "parameters" : [ {
          "name" : "exclusion_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Exclusion"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/exclusion/{exclusion_id}",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.exclusion_id" : "method.request.path.exclusion_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "put" : {
        "parameters" : [ {
          "name" : "exclusion_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Exclusion"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Exclusion"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/exclusion/{exclusion_id}",
          "connectionId" : "gzj0gl",
          "httpMethod" : "PUT",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.exclusion_id" : "method.request.path.exclusion_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "exclusion_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/exclusion/{exclusion_id}",
          "connectionId" : "gzj0gl",
          "httpMethod" : "DELETE",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.exclusion_id" : "method.request.path.exclusion_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "exclusion_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/campaign" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfCampaign"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/campaign/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Campaign"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/campaign/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/reward/{cardId}" : {
      "get" : {
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page_no",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cardId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfReward"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://informer.itsag1t2.com/reward/{cardId}",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.cardId" : "method.request.path.cardId"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/reward/total/{cardId}" : {
      "get" : {
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfNumberResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://informer.itsag1t2.com/reward/total/{cardId}",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.cardId" : "method.request.path.cardId"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/publish" : {
      "post" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "uri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-publish-single-msk/invocations",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "contentHandling" : "CONVERT_TO_TEXT",
          "type" : "aws"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/auth/login" : {
      "post" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/auth/login",
          "connectionId" : "gzj0gl",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/health" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StringResponse"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/health",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      }
    },
    "/publish/presigned" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-presigned/invocations",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "contentHandling" : "CONVERT_TO_TEXT",
          "type" : "aws"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/card/type/{card_type_pk}" : {
      "get" : {
        "parameters" : [ {
          "name" : "card_type_pk",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "card_type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardType"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/type/{card_type_pk}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.card_type_pk" : "method.request.path.card_type_pk"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "put" : {
        "parameters" : [ {
          "name" : "card_type_pk",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardType"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/type/{card_type_pk}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "PUT",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.card_type_pk" : "method.request.path.card_type_pk"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "card_type_pk",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/type/{card_type_pk}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "DELETE",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.card_type_pk" : "method.request.path.card_type_pk"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "card_type_pk",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/card/{card_id}" : {
      "get" : {
        "parameters" : [ {
          "name" : "card_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/{card_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.card_id" : "method.request.path.card_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "card_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/{card_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "DELETE",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.card_id" : "method.request.path.card_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "card_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/card/type" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfCardType"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/type/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardType"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/type/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/user" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfUser"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/user/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/user/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/card" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfCard"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Card"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Card"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/card/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/user/{user_id}" : {
      "get" : {
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/user/{user_id}",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.user_id" : "method.request.path.user_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "put" : {
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserInput"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/user/{user_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "PUT",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.user_id" : "method.request.path.user_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://profiler.itsag1t2.com/user/{user_id}/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "DELETE",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestParameters" : {
            "integration.request.path.user_id" : "method.request.path.user_id"
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    },
    "/exclusion" : {
      "get" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfExclusion"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/exclusion/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "GET",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Exclusion"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Exclusion"
                }
              }
            }
          }
        },
        "security" : [ {
          "angelowl-authorizer" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "uri" : "http://campaignex.itsag1t2.com/exclusion/",
          "connectionId" : "gzj0gl",
          "httpMethod" : "POST",
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "passthroughBehavior" : "when_no_match",
          "connectionType" : "VPC_LINK",
          "type" : "http"
        }
      },
      "options" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Credentials" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Headers" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "NumberResponse" : {
        "type" : "number"
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string"
          },
          "creditCards" : {
            "type" : "array",
            "description" : "one user has many credit cards",
            "items" : {
              "$ref" : "#/components/schemas/Card"
            }
          },
          "email" : {
            "type" : "string"
          },
          "first_name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "last_name" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string"
          },
          "role" : {
            "type" : "string"
          },
          "updatedAt" : {
            "type" : "string"
          }
        }
      },
      "UserInput" : {
        "required" : [ "confirm_password", "email", "first_name", "last_name", "password", "phone" ],
        "type" : "object",
        "properties" : {
          "confirm_password" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "first_name" : {
            "type" : "string"
          },
          "last_name" : {
            "type" : "string"
          },
          "password" : {
            "type" : "string"
          },
          "phone" : {
            "type" : "string"
          }
        }
      },
      "ArrayOfNumberResponse" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/NumberResponse"
        }
      },
      "StringResponse" : {
        "type" : "string"
      },
      "ArrayOfCampaign" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Campaign"
        }
      },
      "ArrayOfUser" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/User"
        }
      },
      "ArrayOfCard" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Card"
        }
      },
      "ArrayOfReward" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Reward"
        }
      },
      "Card" : {
        "required" : [ "card_pan", "card_type", "user_id" ],
        "type" : "object",
        "properties" : {
          "card_pan" : {
            "type" : "string"
          },
          "card_type" : {
            "type" : "string",
            "description" : "card belongs to one card type"
          },
          "id" : {
            "type" : "string"
          },
          "user_id" : {
            "type" : "string",
            "description" : "card belongs to one user"
          }
        }
      },
      "ArrayOfExclusion" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Exclusion"
        }
      },
      "Empty" : {
        "title" : "Empty Schema",
        "type" : "object"
      },
      "Campaign" : {
        "required" : [ "end_date", "mcc", "merchant", "name", "reward_amount", "reward_program", "start_date" ],
        "type" : "object",
        "properties" : {
          "end_date" : {
            "type" : "string",
            "description" : "should be later than Start"
          },
          "id" : {
            "type" : "string"
          },
          "mcc" : {
            "maximum" : 9999,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          },
          "merchant" : {
            "minLength" : 1,
            "type" : "string"
          },
          "min_spend" : {
            "minimum" : 0,
            "type" : "number"
          },
          "name" : {
            "minLength" : 1,
            "type" : "string"
          },
          "reward_amount" : {
            "type" : "integer",
            "format" : "int32"
          },
          "reward_program" : {
            "minLength" : 1,
            "type" : "string"
          },
          "start_date" : {
            "type" : "string",
            "description" : "TODO: Add back the gte to add validation after time now"
          }
        }
      },
      "CardType" : {
        "required" : [ "card_type", "name", "reward_program", "reward_unit" ],
        "type" : "object",
        "properties" : {
          "card_type" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "reward_program" : {
            "type" : "string"
          },
          "reward_unit" : {
            "type" : "string"
          }
        }
      },
      "Exclusion" : {
        "required" : [ "mcc", "valid_from" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "mcc" : {
            "maximum" : 9999,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          },
          "valid_from" : {
            "type" : "string",
            "description" : "TODO: Add back the gte to add validation after time now"
          }
        }
      },
      "Reward" : {
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "description" : "cassandra double"
          },
          "card_id" : {
            "type" : "string",
            "description" : "cassandra uuid"
          },
          "card_pan" : {
            "type" : "string",
            "description" : "cassandra text"
          },
          "card_type" : {
            "type" : "string",
            "description" : "cassandra text"
          },
          "currency" : {
            "type" : "string",
            "description" : "cassandra text"
          },
          "id" : {
            "type" : "string",
            "description" : "cassandra uuid"
          },
          "mcc" : {
            "type" : "integer",
            "description" : "cassandra int",
            "format" : "int32"
          },
          "merchant" : {
            "type" : "string",
            "description" : "cassandra text"
          },
          "remarks" : {
            "type" : "string",
            "description" : "cassandra text"
          },
          "reward_amount" : {
            "type" : "number",
            "description" : "cassandra double"
          },
          "sgd_amount" : {
            "type" : "number",
            "description" : "cassandra double"
          },
          "transaction_date" : {
            "type" : "string",
            "description" : "cassandra text"
          },
          "transaction_id" : {
            "type" : "string",
            "description" : "cassandra text"
          }
        }
      },
      "ArrayOfCardType" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/CardType"
        }
      }
    },
    "securitySchemes" : {
      "angelowl-authorizer" : {
        "type" : "apiKey",
        "name" : "Authorization",
        "in" : "header",
        "x-amazon-apigateway-authtype" : "custom",
        "x-amazon-apigateway-authorizer" : {
          "authorizerUri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-authorizer/invocations",
          "authorizerResultTtlInSeconds" : 300,
          "type" : "token"
        }
      }
    }
  },
  "x-amazon-apigateway-policy" : {
    "Version" : "2012-10-17",
    "Statement" : [ {
      "Sid" : "",
      "Effect" : "Allow",
      "Principal" : {
        "AWS" : "*"
      },
      "Action" : "execute-api:Invoke",
      "Resource" : [ "arn:aws:execute-api:ap-southeast-1:276374573009:8oh7459vbl/*/*/*", "arn:aws:execute-api:ap-southeast-1:276374573009:8oh7459vbl/*/*", "arn:aws:execute-api:ap-southeast-1:276374573009:8oh7459vbl" ]
    } ]
  }
}