{
    "openapi" : "3.0.1",
    "info" : {
      "title" : "AngelOwl EKS APIGW REST",
      "version" : "2023-03-23T15:34:45Z"
    },
    "servers" : [ {
      "url" : "https://itsag1t2.com"
    } ],
    "paths" : {
      "/campaign/{campaign_id}" : {
        "get" : {
          "parameters" : [ {
            "name" : "campaign_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://campaignex.itsag1t2.com/campaign/{campaign_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200"
              }
            },
            "requestParameters" : {
              "integration.request.path.campaign_id" : "method.request.path.campaign_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "put" : {
          "parameters" : [ {
            "name" : "campaign_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "PUT",
            "uri" : "http://campaignex.itsag1t2.com/campaign/{campaign_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200"
              }
            },
            "requestParameters" : {
              "integration.request.path.campaign_id" : "method.request.path.campaign_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "delete" : {
          "parameters" : [ {
            "name" : "campaign_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : { }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "DELETE",
            "uri" : "http://campaignex.itsag1t2.com/campaign/{campaign_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200"
              }
            },
            "requestParameters" : {
              "integration.request.path.campaign_id" : "method.request.path.campaign_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "campaign_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/exclusion/{exclusion_id}" : {
        "get" : {
          "parameters" : [ {
            "name" : "exclusion_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Exclusion"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://campaignex.itsag1t2.com/exclusion/{exclusion_id}",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.exclusion_id" : "method.request.path.exclusion_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "put" : {
          "parameters" : [ {
            "name" : "exclusion_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Exclusion"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Exclusion"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "PUT",
            "uri" : "http://campaignex.itsag1t2.com/exclusion/{exclusion_id}",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.exclusion_id" : "method.request.path.exclusion_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "delete" : {
          "parameters" : [ {
            "name" : "exclusion_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : { }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "DELETE",
            "uri" : "http://campaignex.itsag1t2.com/exclusion/{exclusion_id}",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.exclusion_id" : "method.request.path.exclusion_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "exclusion_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/campaign" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfCampaign"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://campaignex.itsag1t2.com/campaign/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Campaign"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "POST",
            "uri" : "http://campaignex.itsag1t2.com/campaign/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/user/presigned" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "aws",
            "httpMethod" : "POST",
            "uri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-user-presigned/invocations",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "contentHandling" : "CONVERT_TO_TEXT"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/reward/{cardId}" : {
        "get" : {
          "parameters" : [ {
            "name" : "page_size",
            "in" : "query",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "page_no",
            "in" : "query",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "cardId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfReward"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://informer.itsag1t2.com/reward/{cardId}",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.cardId" : "method.request.path.cardId",
              "integration.request.querystring.page_size" : "method.request.querystring.page_size",
              "integration.request.querystring.page_no" : "method.request.querystring.page_no"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "cardId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/auth/password" : {
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChangeDefaultPassword"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : { }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "POST",
            "uri" : "http://profiler.itsag1t2.com/auth/password",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/reward/total/{cardId}" : {
        "get" : {
          "parameters" : [ {
            "name" : "cardId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfNumberResponse"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://informer.itsag1t2.com/reward/total/{cardId}",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.cardId" : "method.request.path.cardId"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "cardId",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/publish" : {
        "post" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "aws",
            "httpMethod" : "POST",
            "uri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-publish-single-msk/invocations",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "contentHandling" : "CONVERT_TO_TEXT"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/auth/login" : {
        "post" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "POST",
            "uri" : "http://profiler.itsag1t2.com/auth/login",
            "responses" : {
              "default" : {
                "statusCode" : "200"
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/health" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/StringResponse"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/health",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        }
      },
      "/publish/presigned" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "aws",
            "httpMethod" : "POST",
            "uri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-presigned/invocations",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "contentHandling" : "CONVERT_TO_TEXT"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/card/type/{card_type_pk}" : {
        "get" : {
          "parameters" : [ {
            "name" : "card_type_pk",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "card_type",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CardType"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/card/type/{card_type_pk}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.card_type_pk" : "method.request.path.card_type_pk"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "put" : {
          "parameters" : [ {
            "name" : "card_type_pk",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardType"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CardType"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "PUT",
            "uri" : "http://profiler.itsag1t2.com/card/type/{card_type_pk}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.card_type_pk" : "method.request.path.card_type_pk"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "delete" : {
          "parameters" : [ {
            "name" : "card_type_pk",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : { }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "DELETE",
            "uri" : "http://profiler.itsag1t2.com/card/type/{card_type_pk}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.card_type_pk" : "method.request.path.card_type_pk"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "card_type_pk",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/card/{card_id}" : {
        "get" : {
          "parameters" : [ {
            "name" : "card_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/card/{card_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.card_id" : "method.request.path.card_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "delete" : {
          "parameters" : [ {
            "name" : "card_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : { }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "DELETE",
            "uri" : "http://profiler.itsag1t2.com/card/{card_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.card_id" : "method.request.path.card_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "card_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/card/type" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfCardType"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/card/type/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardType"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CardType"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "POST",
            "uri" : "http://profiler.itsag1t2.com/card/type/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/user" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfUser"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/user/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/card" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfCard"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/card/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/user/{user_id}" : {
        "get" : {
          "parameters" : [ {
            "name" : "user_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://profiler.itsag1t2.com/user/{user_id}",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.user_id" : "method.request.path.user_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "put" : {
          "parameters" : [ {
            "name" : "user_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserInput"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "PUT",
            "uri" : "http://profiler.itsag1t2.com/user/{user_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.user_id" : "method.request.path.user_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "delete" : {
          "parameters" : [ {
            "name" : "user_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : { }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "DELETE",
            "uri" : "http://profiler.itsag1t2.com/user/{user_id}/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestParameters" : {
              "integration.request.path.user_id" : "method.request.path.user_id"
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "parameters" : [ {
            "name" : "user_id",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,OPTIONS,PUT'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      },
      "/exclusion" : {
        "get" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ArrayOfExclusion"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "GET",
            "uri" : "http://campaignex.itsag1t2.com/exclusion/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Exclusion"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Exclusion"
                  }
                }
              }
            }
          },
          "security" : [ {
            "angelowl-authorizer" : [ ]
          } ],
          "x-amazon-apigateway-integration" : {
            "type" : "http",
            "connectionId" : "gzj0gl",
            "httpMethod" : "POST",
            "uri" : "http://campaignex.itsag1t2.com/exclusion/",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "passthroughBehavior" : "when_no_match",
            "connectionType" : "VPC_LINK"
          }
        },
        "options" : {
          "responses" : {
            "200" : {
              "description" : "200 response",
              "headers" : {
                "Access-Control-Allow-Origin" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Methods" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Credentials" : {
                  "schema" : {
                    "type" : "string"
                  }
                },
                "Access-Control-Allow-Headers" : {
                  "schema" : {
                    "type" : "string"
                  }
                }
              },
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/Empty"
                  }
                }
              }
            }
          },
          "x-amazon-apigateway-integration" : {
            "type" : "mock",
            "responses" : {
              "default" : {
                "statusCode" : "200",
                "responseParameters" : {
                  "method.response.header.Access-Control-Allow-Methods" : "'GET,OPTIONS,POST'",
                  "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                  "method.response.header.Access-Control-Allow-Origin" : "'*'"
                }
              }
            },
            "requestTemplates" : {
              "application/json" : "{\"statusCode\": 200}"
            },
            "passthroughBehavior" : "when_no_match"
          }
        }
      }
    },
    "components" : {
      "schemas" : {
        "NumberResponse" : {
          "type" : "number"
        },
        "User" : {
          "type" : "object",
          "properties" : {
            "createdAt" : {
              "type" : "string"
            },
            "creditCards" : {
              "type" : "array",
              "description" : "one user has many credit cards",
              "items" : {
                "$ref" : "#/components/schemas/Card"
              }
            },
            "email" : {
              "type" : "string"
            },
            "first_name" : {
              "type" : "string"
            },
            "id" : {
              "type" : "string"
            },
            "last_name" : {
              "type" : "string"
            },
            "phone" : {
              "type" : "string"
            },
            "role" : {
              "type" : "string"
            },
            "updatedAt" : {
              "type" : "string"
            }
          }
        },
        "UserInput" : {
          "required" : [ "confirm_password", "email", "first_name", "last_name", "password", "phone" ],
          "type" : "object",
          "properties" : {
            "confirm_password" : {
              "type" : "string"
            },
            "email" : {
              "type" : "string"
            },
            "first_name" : {
              "type" : "string"
            },
            "last_name" : {
              "type" : "string"
            },
            "password" : {
              "type" : "string"
            },
            "phone" : {
              "type" : "string"
            }
          }
        },
        "ArrayOfNumberResponse" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/NumberResponse"
          }
        },
        "StringResponse" : {
          "type" : "string"
        },
        "ArrayOfCampaign" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/Campaign"
          }
        },
        "ArrayOfUser" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/User"
          }
        },
        "ArrayOfCard" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/Card"
          }
        },
        "ArrayOfReward" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/Reward"
          }
        },
        "Card" : {
          "required" : [ "card_pan", "card_type", "user_id" ],
          "type" : "object",
          "properties" : {
            "card_pan" : {
              "type" : "string"
            },
            "card_type" : {
              "type" : "string",
              "description" : "card belongs to one card type"
            },
            "id" : {
              "type" : "string"
            },
            "user_id" : {
              "type" : "string",
              "description" : "card belongs to one user"
            }
          }
        },
        "ArrayOfExclusion" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/Exclusion"
          }
        },
        "Empty" : {
          "title" : "Empty Schema",
          "type" : "object"
        },
        "Campaign" : {
          "required" : [ "base_reward", "end_date", "mcc", "merchant", "name", "reward_amount", "reward_program", "start_date" ],
          "type" : "object",
          "properties" : {
            "base_reward" : {
              "type" : "boolean"
            },
            "end_date" : {
              "type" : "string",
              "description" : "should be later than Start"
            },
            "id" : {
              "type" : "string"
            },
            "mcc" : {
              "maximum" : 9999,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32"
            },
            "merchant" : {
              "minLength" : 1,
              "type" : "string"
            },
            "min_spend" : {
              "minimum" : 0,
              "type" : "number"
            },
            "name" : {
              "minLength" : 1,
              "type" : "string"
            },
            "reward_amount" : {
              "type" : "integer",
              "format" : "int32"
            },
            "reward_program" : {
              "minLength" : 1,
              "type" : "string"
            },
            "start_date" : {
              "type" : "string",
              "description" : "TODO: Add back the gte to add validation after time now"
            }
          }
        },
        "ChangeDefaultPassword" : {
          "required" : [ "confirm_password", "email", "old_password", "password" ],
          "type" : "object",
          "properties" : {
            "confirm_password" : {
              "type" : "string"
            },
            "email" : {
              "type" : "string"
            },
            "old_password" : {
              "type" : "string"
            },
            "password" : {
              "type" : "string"
            }
          }
        },
        "CardType" : {
          "required" : [ "card_type", "name", "reward_program", "reward_unit" ],
          "type" : "object",
          "properties" : {
            "card_type" : {
              "type" : "string"
            },
            "id" : {
              "type" : "string"
            },
            "name" : {
              "type" : "string"
            },
            "reward_program" : {
              "type" : "string"
            },
            "reward_unit" : {
              "type" : "string"
            }
          }
        },
        "Exclusion" : {
          "required" : [ "mcc", "valid_from" ],
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string"
            },
            "mcc" : {
              "maximum" : 9999,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32"
            },
            "valid_from" : {
              "type" : "string",
              "description" : "TODO: Add back the gte to add validation after time now"
            }
          }
        },
        "Reward" : {
          "type" : "object",
          "properties" : {
            "amount" : {
              "type" : "number",
              "description" : "cassandra double"
            },
            "card_id" : {
              "type" : "string",
              "description" : "cassandra uuid"
            },
            "card_pan" : {
              "type" : "string",
              "description" : "cassandra text"
            },
            "card_type" : {
              "type" : "string",
              "description" : "cassandra text"
            },
            "currency" : {
              "type" : "string",
              "description" : "cassandra text"
            },
            "id" : {
              "type" : "string",
              "description" : "cassandra uuid"
            },
            "mcc" : {
              "type" : "integer",
              "description" : "cassandra int",
              "format" : "int32"
            },
            "merchant" : {
              "type" : "string",
              "description" : "cassandra text"
            },
            "remarks" : {
              "type" : "string",
              "description" : "cassandra text"
            },
            "reward_amount" : {
              "type" : "number",
              "description" : "cassandra double"
            },
            "sgd_amount" : {
              "type" : "number",
              "description" : "cassandra double"
            },
            "transaction_date" : {
              "type" : "string",
              "description" : "cassandra text"
            },
            "transaction_id" : {
              "type" : "string",
              "description" : "cassandra text"
            }
          }
        },
        "ArrayOfCardType" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/components/schemas/CardType"
          }
        }
      },
      "securitySchemes" : {
        "angelowl-authorizer" : {
          "type" : "apiKey",
          "name" : "Authorization",
          "in" : "header",
          "x-amazon-apigateway-authtype" : "custom",
          "x-amazon-apigateway-authorizer" : {
            "type" : "token",
            "authorizerUri" : "arn:aws:apigateway:ap-southeast-1:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-1:276374573009:function:angel-owl-authorizer/invocations",
            "authorizerResultTtlInSeconds" : 300
          }
        }
      }
    },
    "x-amazon-apigateway-policy" : {
      "Version" : "2012-10-17",
      "Statement" : [ {
        "Sid" : "",
        "Effect" : "Allow",
        "Principal" : {
          "AWS" : "*"
        },
        "Action" : "execute-api:Invoke",
        "Resource" : [ "arn:aws:execute-api:ap-southeast-1:276374573009:8oh7459vbl/*/*/*", "arn:aws:execute-api:ap-southeast-1:276374573009:8oh7459vbl/*/*", "arn:aws:execute-api:ap-southeast-1:276374573009:8oh7459vbl" ]
      } ]
    }
  }